<!DOCTYPE html>
<html>
<head>
    <title>Hospital Registration</title>
</head>
<body>

<h2>Patient Registration</h2>

<form>
    Name: <input type="text" name="name"><br><br>
    Age: <input type="number" name="age"><br><br>

    Gender:
    <input type="radio" name="gender" value="Male">Male
    <input type="radio" name="gender" value="Female">Female
    <br><br>

    Contact: <input type="text" name="contact"><br><br>
    Disease: <input type="text" name="disease"><br><br>

    Doctor:
    <select name="doctor">
        <option value="Dr. Smith">Dr. Smith</option>
        <option value="Dr. John">Dr. John</option>
    </select>

    <br><br>
    <input type="submit" value="Register">
</form>

</body>
</html>
